@page
@model DeleteTaskModel
@{
}

<div class="container">
<form method="post">
    <input hidden asp-for="Task.Id" />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary pl-3">Delete Task</h2>
            <hr />
        </div>
        <div class="mb-3">
            Title:
                <input asp-for="@Model.Task.Title" class="form-control" readonly />
 
        </div>
        <div class="mb-3">
            Content:
                <input asp-for="@Model.Task.Content" class="form-control" readonly />
 
        </div>
            <div class="mb-3">
                Additional Image (might be empty):
                <div class="form-control">
                    @{
                        if (Model.Task.ImagePath != null)
                        {
                            <img src="@Url.Content(Model.Task.ImagePath)" alt="Optional Image for Task ">
                        }
                    }
                </div>
            </div>
        <div class="mb-3">
            Category:
                <div class = "form-control" readonly >
                @foreach (var category in Model.Task.TasksAndCategories.Select(tc => tc.TaskCategory))
                {
                    @category.CategoryName
                    @if (category != Model.Task.TasksAndCategories.Last().TaskCategory)
                    {
                        <span>, </span>
                    }
                }
                </div>
        </div>
        <div class="mb-3">
            Difficulty level:
                <input asp-for="@Model.Task.difficultyLevel" class="form-control" readonly />
               
        </div>
            <div class="mb-3">
                Answer Type:
                <input asp-for="@Model.Task.AnswerType.Name" class="form-control" readonly />

            </div>
            <div class="mb-3">
                Correct answer:
                <input asp-for="@Model.Task.Answer" class="form-control" readonly />

            </div>

        <button type="submit" class="btn btn-primary" style="width:150px;">Delete</button>
        <a asp-page="ViewTasks" class="btn btn-secondary" style="width:150px;">Back to list</a>
    </div>
</form>
</div>