@page
@model EditTaskModel
@{
}


<div class="container">
    <form method="post" enctype="multipart/form-data">
        <input hidden asp-for="Task.Id" />

        <div class="border p-3 mt-4">
            <div class="row pb-2">

                <h2 class="text-primary pl-3">Edytuj zadanie</h2>
                <hr />
            </div>
            <div class="mb-3">
                Tytuł:
                <input asp-for="@Model.Task.Title" class="form-control" />
                <span asp-validation-for="@Model.Task.Title" class="text-danger"></span>
            </div>
            <div class="mb-3">
                Treść zadania:
                <textarea asp-for="@Model.Task.Content" class="form-control"></textarea>
                    <span asp-validation-for="@Model.Task.Content" class="text-danger"></span>
            </div>
            <div class="mb-3">
                Kreator równań:
                <div class="mb-3 m-lg-5">
                    Treść LaTeX (skopiuj tą treść do treści zadania):
                    <button type="button" class="btn btn-secondary" id="copy-button">Kopiuj</button>
                    <textarea class="form-control" id="latex-input" disabled></textarea>
                    <div class="mb-3 m-md-1">
                        <h6>Edytor (Jeżeli wklejasz to bez znaków zewnętrznych):</h6>
                        <div id="mathquill-editor"></div>
                    </div>
                </div>
                <!-- Unnecessary ones can be deleted -->
                <div class="mb-3 m-lg-5">
                    <button type="button" class="btn btn-secondary" onclick="insertSymbol('x')">\(x\)</button>
                    <button type="button" class="btn btn-secondary" onclick="insertSymbol('y')">\(y\)</button>
                    <button type="button" class="btn btn-secondary" onclick="insertSymbol('z')">\(z\)</button>
                    <button type="button" class="btn btn-secondary" onclick="insertSymbol('\\frac{}{}')">\(\frac{x}{y}\)</button>
                    <button type="button" class="btn btn-secondary" onclick="insertSymbol('\\sqrt{}')">\(\sqrt{x}\)</button>
                    <button type="button" class="btn btn-secondary" onclick="insertSymbol('\\sqrt[{}]{}')">\( \sqrt[x]{y} \)</button>
                    <button type="button" class="btn btn-secondary" onclick="insertSymbol('\\^{}')">\(y^{x}\)</button>
                    <button type="button" class="btn btn-secondary" onclick="insertSymbol('\\sum')">\(\sum\)</button>
                    <button type="button" class="btn btn-secondary" onclick="insertSymbol('\\int')">\(\int\)</button>
                    <button type="button" class="btn btn-secondary" onclick="insertSymbol('\\alpha')">α</button>
                    <button type="button" class="btn btn-secondary" onclick="insertSymbol('\\beta')">β</button>
                    <button type="button" class="btn btn-secondary" onclick="insertSymbol('\\gamma')">γ</button>
                    <button type="button" class="btn btn-secondary" onclick="insertSymbol('\\delta')">δ</button>
                    <button type="button" class="btn btn-secondary" onclick="insertSymbol('\\theta')">θ</button>
                    <button type="button" class="btn btn-secondary" onclick="insertSymbol('\\lambda')">λ</button>
                    <button type="button" class="btn btn-secondary" onclick="insertSymbol('\\omega')">ω</button>
                    <button type="button" class="btn btn-secondary" onclick="insertSymbol('\\pi')">\(\pi\)</button>
                    <button type="button" class="btn btn-secondary" onclick="insertSymbol('\\Omega')">\(\Omega\)</button>
                    <button type="button" class="btn btn-secondary" onclick="insertSymbol('\\ne')">\(\ne\)</button>
                    <button type="button" class="btn btn-secondary" onclick="insertSymbol('\\underline')">\(\underline{x}\)</button>
                    <button type="button" class="btn btn-secondary" onclick="insertSymbol('\\underline{}')">\(\underline{x}\)</button>
                    <button type="button" class="btn btn-secondary" onclick="insertSymbol('\\overline{}')">\(\overline{x}\)</button>
                    <button type="button" class="btn btn-secondary" onclick="insertSymbol('\\_{}^{}')">\(x_y^z\)</button>
                    <button type="button" class="btn btn-secondary" onclick="insertSymbol('\\_{}')">\(x_{y}\)</button>
                    <button type="button" class="btn btn-secondary" onclick="insertSymbol('\\downarrow')">\( \downarrow \)</button>
                    <button type="button" class="btn btn-secondary" onclick="insertSymbol('\\Downarrow')">\( \Downarrow \)</button>
                    <button type="button" class="btn btn-secondary" onclick="insertSymbol('\\uparrow')">\( \uparrow \)</button>
                    <button type="button" class="btn btn-secondary" onclick="insertSymbol('\\Uparrow')">\( \Uparrow \)</button>
                    <button type="button" class="btn btn-secondary" onclick="insertSymbol('\\to')">\( \to \)</button>
                    <button type="button" class="btn btn-secondary" onclick="insertSymbol('\\implies')">\( \implies \)</button>
                    <button type="button" class="btn btn-secondary" onclick="insertSymbol('\\gets')">\( \gets \)</button>
                    <button type="button" class="btn btn-secondary" onclick="insertSymbol('\\impliedby')">\( \impliedby \)</button>
                    <button type="button" class="btn btn-secondary" onclick="insertSymbol('\\iff')">\( \iff \)</button>
                    <button type="button" class="btn btn-secondary" onclick="insertSymbol('\\partial')">\( \partial \)</button>
                    <button type="button" class="btn btn-secondary" onclick="insertSymbol('\\infin')">\( \infin \)</button>
                    <button type="button" class="btn btn-secondary" onclick="insertSymbol('\\forall')">\( \forall \)</button>
                    <button type="button" class="btn btn-secondary" onclick="insertSymbol('\\exist')">\( \exist \)</button>
                    <button type="button" class="btn btn-secondary" onclick="insertSymbol('\\oint')">\( \oint \)</button>
                    <button type="button" class="btn btn-secondary" onclick="insertSymbol('\\bigcap')">\( \bigcap \)</button>
                    <button type="button" class="btn btn-secondary" onclick="insertSymbol('\\bigcup')">\( \bigcup \)</button>
                    <button type="button" class="btn btn-secondary" onclick="insertSymbol('\\bigsqcup')">\( \sqcup \)</button>
                    <button type="button" class="btn btn-secondary" onclick="insertSymbol('\\bigsqcap')">\( \sqcap \)</button>
                    <button type="button" class="btn btn-secondary" onclick="insertSymbol('\\bigvee')">\( \bigvee \)</button>
                    <button type="button" class="btn btn-secondary" onclick="insertSymbol('\\bigwedge')">\( \bigwedge \)</button>
                    <button type="button" class="btn btn-secondary" onclick="insertSymbol('\\bigodot')">\( \bigodot \)</button>
                    <button type="button" class="btn btn-secondary" onclick="insertSymbol('\\bigotimes')">\( \bigotimes \)</button>
                    <button type="button" class="btn btn-secondary" onclick="insertSymbol('\\bigoplus')">\( \bigoplus \)</button>
                    <button type="button" class="btn btn-secondary" onclick="insertSymbol('\\biguplus')">\( \biguplus \)</button>
                    <button type="button" class="btn btn-secondary" onclick="insertSymbol('\\lfloor')">\( \lfloor \)</button>
                    <button type="button" class="btn btn-secondary" onclick="insertSymbol('\\rfloor')">\( \rfloor \)</button>
                    <button type="button" class="btn btn-secondary" onclick="insertSymbol('\\lceil')">\( \lceil \)</button>
                    <button type="button" class="btn btn-secondary" onclick="insertSymbol('\\rceil')">\( \rceil \)</button>
                    <button type="button" class="btn btn-secondary" onclick="insertSymbol('\\perp')">\( \perp \)</button>
                    <button type="button" class="btn btn-secondary" onclick="insertSymbol('\\nabla')">\( \nabla \)</button>
                    <button type="button" class="btn btn-secondary" onclick="insertSymbol('\\circ')">\( \circ \)</button>
                    <button type="button" class="btn btn-secondary" onclick="insertSymbol('\\bull')">\( \bull \)</button>
                    <button type="button" class="btn btn-secondary" onclick="insertSymbol('\\neg')">\( \neg \)</button>
                    <button type="button" class="btn btn-secondary" onclick="insertSymbol('\\Delta')">\(\Delta\)</button>
                    <button type="button" class="btn btn-secondary" onclick="insertSymbol('\\degree')">\( \degree \)</button>
                    <button type="button" class="btn btn-secondary" onclick="insertSymbol('\\models')">⊨</button>
                    <button type="button" class="btn btn-secondary" onclick="insertSymbol('\\prec')">≺</button>
                    <button type="button" class="btn btn-secondary" onclick="insertSymbol('\\succ')">≻</button>
                    <button type="button" class="btn btn-secondary" onclick="insertSymbol('\\preceq')">⪯</button>
                    <button type="button" class="btn btn-secondary" onclick="insertSymbol('\\succeq')">⪰</button>
                    <button type="button" class="btn btn-secondary" onclick="insertSymbol('\\simeq')">≃</button>
                    <button type="button" class="btn btn-secondary" onclick="insertSymbol('\\mid')">∣</button>
                    <button type="button" class="btn btn-secondary" onclick="insertSymbol('\\ll')">≪</button>
                    <button type="button" class="btn btn-secondary" onclick="insertSymbol('\\gg')">≫</button>
                    <button type="button" class="btn btn-secondary" onclick="insertSymbol('\\parallel')">∥</button>
                    <button type="button" class="btn btn-secondary" onclick="insertSymbol('\\bowtie')">⋈</button>
                    <button type="button" class="btn btn-secondary" onclick="insertSymbol('\\sqsubset')">⊏</button>
                    <button type="button" class="btn btn-secondary" onclick="insertSymbol('\\sqsupset')">⊐</button>
                    <button type="button" class="btn btn-secondary" onclick="insertSymbol('\\smile')">⌣</button>
                    <button type="button" class="btn btn-secondary" onclick="insertSymbol('\\sqsubseteq')">⊑</button>
                    <button type="button" class="btn btn-secondary" onclick="insertSymbol('\\sqsupseteq')">⊒</button>
                    <button type="button" class="btn btn-secondary" onclick="insertSymbol('\\doteq')">≐</button>
                    <button type="button" class="btn btn-secondary" onclick="insertSymbol('\\frown')">⌢</button>
                    <button type="button" class="btn btn-secondary" onclick="insertSymbol('\\vdash')">⊢</button>
                    <button type="button" class="btn btn-secondary" onclick="insertSymbol('\\dashv')">⊣</button>

                </div>
            </div>
                <div class="mb-3">
                    Aktualne zdjęcie do zadania (może być puste):
                    <div class="form-control">
                        @{
                            if (Model.Task.ImagePath != String.Empty)
                            {
                                <img width="50%" src="@Url.Content(Model.Task.ImagePath)" alt="Optional Image for Task ">
                            }
                        }
                    </div>
                </div>
                <div class="mb-3">
                    Wybierz zdjęcie jeśli chcesz zmienić aktualne:
                    <input type="file" accept="image/*" asp-for="@Model.ImageFile" class="form-control" />
                </div>
            <div class="mb-3">
                Kategoria:
                    <div class="mb-3">
                        @foreach (var category in Model.Categories)
                        {
                            var isChecked = Model.Task.TasksAndCategories.Any(tc => tc.TaskCategory.Id == category.Id);

                            <div class="form-check">
                                <input type="checkbox" id="category_@category.Id" name="SelectedCategoryIds" value="@category.Id" class="form-check-input" @(isChecked ? "checked" : "") />
                                <label for="category_@category.Id" class="form-check-label">@category.CategoryName</label>
                            </div>
                        }
                        <span asp-validation-for="SelectedCategoryIds" class="text-danger"></span>
                    </div>
            </div>
            <div class="mb-3">
                Poziom trudnośći:
                <input asp-for="@Model.Task.difficultyLevel" class="form-control" />
                    <span asp-validation-for="@Model.Task.difficultyLevel" class="text-danger"></span>
            </div>
                <div class="mb-3">
                    Typ odpowiedzi:
                    <select asp-for="@Model.Task.AnswerTypeId" asp-items="@(new SelectList(Model.AnswerTypesList, "Id", "Name"))" class="form-control">
                    </select>
                    <span asp-validation-for="@Model.Task.AnswerTypeId" class="text-danger"></span>
                </div>
            <div class="mb-3">
                Poprawna odpowiedź (Jeżeli typ odpowiedzi wymaga więcej niż jednej odpowiedzi to podaj je po przecinku):
                <input asp-for="@Model.Task.Answer" class="form-control" />
                <span asp-validation-for="@Model.Task.Answer" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary" style="width:150px;">Edytuj</button>
            <a asp-page="ViewTasks" class="btn btn-secondary" style="width:150px;">Powrót</a>
        </div>
    </form>
</div>


<script src="~/js/MathEditor.js"></script>