@page
@model MathWars.Pages.TaskPages.SolvingTaskModel
@{
}

<link rel="stylesheet" href="~/css/SolvingTask.css" asp-append-version="true" />

@{
    <script type="text/javascript">
        $(function () {
            $("#aModal").modal('show');
        })
    </script>
}

@*modal*@
@if (Model.ShowModal == true)
{
    <div class="modal fade" id="aModal" tabindex="-1" role="dialog" aria-labelledby="aModalLabel"
    aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                @if (Model.IsSolved)
                {
                    <div class="modal-header">
                        <h4 class="modal-title" id="aModalLabel">Gratulacje</h4>
                    </div>
                    <div class="modal-body">
                        <div>
                            <h4>Udało Ci się poprawnie rozwiązać zadanie :)</h4>
                            @if(Model.NumberOfAttempts > 0)
                            {
                                <h6>Z racji że podjąłeś już wcześniej próbę rozwiązania tego zadania, nie dostałeś exp</h6>
                            }
                        </div>
                        <div>
                            <h4>Twoje aktualne statystyki:</h4>
                            <p>Poziom: @Model.UserStatsModel.Level</p>
                            <p>Exp: @Model.UserStatsModel.Exp/@Model.UserStatsModel.ExpToReachNewLvl</p>
                            <br/>
                            <h4>Jeżeli podobało Ci się to zadanie, możesz dać gwiazdkę</h4>
                            <button><i class="bi bi-star"></i></button>
                        </div>
                    </div>
                }
                else if (Model.Error)
                {
                    <div class="modal-header">
                        <h4 class="modal-title" id="aModalLabel">Błąd</h4>
                    </div>
                    <div class="modal-body">
                        <span asp-validation-for="TaskSolvingModel.AnswersToTask" class="text-danger"></span>
                    </div>
                }
                else
                {
                    <div class="modal-header">
                        <h4 class="modal-title" id="aModalLabel">Porażka</h4>
                    </div>
                    <div class="modal-body">
                        Niestety nie udało Ci się poprawnie rozwiązać zadanie : (
                    </div>
                }
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
}

 <div class="level-display">
<div class="solving-task-container">
        <h2>Rozwiąż zadanie</h2>
    <div class="bug-report">
        <a asp-page="/Reports/ReportBugInTask" asp-route-id="@Model.TaskSolvingModel.Id" class="btn btn-secondary" style="width:50px;"><i class="bi bi-bug"></i></a>
    </div>
  
    <div class="task-content">
        <div class="mb-3">
            @if (Model.NumberOfAttempts >= 1)
            {
                <p>Podjąłeś już próbę rozwiązania tego zadania, dlatego za następne próby nie dostaniesz exp</p>
            }
            else
            {
                <p>Skup się masz jedno podejść żeby dostać exp za to zadania</p>
            }
        </div>
        <div class="task-text">
            <p> @Model.TaskSolvingModel.Content</p>
        </div>
            @{
                if (!string.IsNullOrEmpty(Model.TaskSolvingModel.ImageUrl))
                {
                    <div  class="task-img">
                        <img src="@Url.Content(Model.TaskSolvingModel.ImageUrl)" alt="Optional Image for Task"/>
                    </div>
                }
            }
    </div>


    <!-- Drawing area -->

    
    @* <canvas id="drawingCanvas" width="900" height="400" style="border:1px solid #000; background-color: white;"></canvas>
    <div>
        <button id="brushBtn" class="btn btn-info" style="width:100px;">
            <i class="bi bi-brush"></i>
        </button>
        <button id="eraserBtn" class="btn btn-warning" style="width:100px;">
            <i class="bi bi-eraser"></i>
        </button>
        <button id="clearCanvasBtn" class="btn btn-danger" style="width:150px;">
            <i class="bi bi-trash"></i>
        </button>
    </div> *@
   
        <div class="whiteboard-container">
            <section class="tools-board">
                <div class="row">
                    <label class="title">Figury</label>
                        <ul class="options">
                            <li class="option">
                              <img src="~/images/icons/rectangle.svg" alt="prostokąt">
                              <span>Prostokąt</span>
                            </li>
                            <li class="option">
                            <img src="~/images/icons/circle.svg" alt="okrąg">
                                <span>Okrąg</span>
                            </li>
                            <li class="option">
                            <img src="~/images/icons/triangle.svg" alt="trójkąt">
                                <span>Trójkąt</span>
                            </li>
                            <li class="option"> 
                                <input type="checkbox" id="fill-color"/>
                                <span>Pokoloruj</span>
                            </li>
                        </ul>
                </div>
                <div class="row">
                    <label class="title">Opcje</label>
                        <ul class="options">
                            <li class="option active">
                                <img src="~/images/icons/brush.svg" alt="pędzel">
                            <span>Pędzel</span>
                            </li>
                            <li class="option">
                                <img src="~/images/icons/eraser.svg" alt="gumka">
                            <span>Gumka</span>
                            </li>
                            <li class="option">
                                <input type="range" id="size-slider" />
                            </li>
                        </ul>
                </div>
                <div class="row colors">
                    <label class="title">Kolory</label>
                        <ul class="options">
                            <li class="option"></li>
                            <li class="option selected"></li>
                            <li class="option"></li>
                            <li class="option"></li>
                            <li class="option">
                                <input type="color" id="color-picker" value="#4A98F7" />
                            </li>
                        </ul>
                </div>
                <div class="row buttons">
                    <button class="clear-canvas">Clear Canvas</button>
                    <button class="save-img">Save As Image</button>
                </div>
            </section>
            <section class="drawing-board">
                <canvas></canvas>
            </section>
        
        </div>
    



       
    

    <div class="mb-3">
        <form method="post">
            <input type="hidden" asp-for="@Model.TaskSolvingModel.Id" />
            @* <div asp-validation-summary="All" class="text-danger"></div> *@
            
            @{
                if (Model.TaskSolvingModel.NumberOfCorrectAnswers > 1){
                    <label asp-for="TaskSolvingModel.NumberOfCorrectAnswers">Zaznacz
                        @Model.TaskSolvingModel.NumberOfCorrectAnswers poprawne odpowiedzi: </label>
                }
                else{
                    <label asp-for="TaskSolvingModel.NumberOfCorrectAnswers">Zaznacz jedną poprawna odpowiedź: </label>
                }
                    <br />
                int numberOfCharInASCII = 65;
                for (int i = 0; i < Model.TaskSolvingModel.AnswersToTask.Count; i++)
                {
                    char letter = Convert.ToChar(numberOfCharInASCII);

                    <input class="form-check-input" type="checkbox" 
                        value="@Model.TaskSolvingModel.AnswersToTask[i].id" 
                        name="SelectedAnswersIds" />
                    <label asp-for="TaskSolvingModel.AnswersToTask[i]">@letter) @Model.TaskSolvingModel.AnswersToTask[i].Content</label>
                    
                    <br />
                    numberOfCharInASCII++;
                }
            }

           

            <button type="submit" class="btn btn-primary" style="width:150px;">Sprawdź</button>
            <a asp-page="/Index" class="btn btn-secondary" style="width:150px;">Powrót do strony głównej</a>
        
        </form>
        </div>
   </div>
    <div class="math-translator-table">
        <div class="first-block">
            <p>test</p>
        </div>
        <div class="second-block">
            <p>test2</p>
        </div>
    </div>
</div>
<script src="~/js/Drawing.js"></script>