@page
@model ViewTasksModel
@{
}

<div class="container p-3">
	<div class="row pt-4">
		<div class="col-6">
			<h2 class="text-primary">Lista zadań</h2>
		</div>
		<div class="col-6 text-end">
			<a asp-page="CreateTask" class="btn btn-primary">
				<i class="bi bi-plus-square"></i> &nbsp;Stwórz nowe zadanie
			</a>
		</div>
	</div>

	<br /><br />
	
	<table class="table table-bordered table-striped" style="width:100%">
		<thead>
			<tr>
				<th>
					Tytuł
				</th>
				<th>
					Treść
				</th>
				<th>
					Kategoria
				</th>
				<th>
					Poziom Trudności
				</th>
				<th>
					Typ odpowiedzi
				</th>
				<th>
					Data utworzenia
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach(var obj in Model.Tasks)
			{
				<tr>
					<td width="20%">@obj.Title</td>
					<td width="20%" style="overflow-wrap: break-word; word-break: break-all; maxlength=" 30"">@obj.Content</td>
					<td width="20%">
						@foreach (var category in obj.TasksAndCategories.Select(tc => tc.TaskCategory))
						{
							@category.CategoryName
							@if (category != obj.TasksAndCategories.Last().TaskCategory)
							{
								<span>, </span>
							}
						}
					</td>
					<td width="10%">@obj.difficultyLevel</td>
					<td width="10%">@obj.AnswerType.Name</td>
					<td width="20%">@obj.Created</td>
					<td>
						<div class="w-75 btn-group" role="group">
						<a asp-page="EditTask" asp-route-id="@obj.Id" class="btn btn-primary mx-2">
							<i class="bi bi-pencil-square"></i>
						</a>
						<a asp-page="DeleteTask" asp-route-id="@obj.Id"  class="btn btn-danger mx-2">
							<i class="bi bi-trash-fill"></i>
						</a>
						</div>
					</td>
				</tr>
			}
			
		</tbody>
	</table>

	<!-- Pagination -->
	@if (Model.Tasks.HasPreviousPage || Model.Tasks.HasNextPage)
	{
		<nav aria-label="Page navigation">
			<ul class="pagination justify-content-center">
				@if (Model.Tasks.HasPreviousPage)
				{
					<li class="page-item">
						<a class="page-link" asp-page="./ViewTasks" asp-route-pageIndex="@(Model.Tasks.PageIndex - 1)"><i class="bi bi-arrow-left"></i></a>
					</li>
				}

				@for (var i = Model.Tasks.PageIndex - 4; i <= Model.Tasks.PageIndex + 4; i++)
				{
					if (i >= 1 && i <= Model.Tasks.TotalPages)
					{
						<li class="page-item @(i == Model.Tasks.PageIndex ? "active" : "")">
							<a class="page-link" asp-page="./ViewTasks" asp-route-pageIndex="@i">@i</a>
						</li>
					}
				}

				@if (Model.Tasks.HasNextPage)
				{
					<li class="page-item">
						<a class="page-link" asp-page="./ViewTasks" asp-route-pageIndex="@(Model.Tasks.PageIndex + 1)"><i class="bi bi-arrow-right"></i></a>
					</li>
				}
			</ul>
		</nav>
	}
</div>
