@page
@model MathWars.Pages.Accounts.Profile.ChangePasswordModel
@{
}


<div class="container">
    <form method="post">
        <div class="border p-3 mt-4">

            <div class="row pb-2">
                <h2 class="text-primary pl-3">Zmień hasło</h2>
                <hr />
            </div>
            <div asp-validation-summary="All"></div>
            <div class="mb-3">
                <label asp-for="@Model.CurrentPassword"></label>
                <input asp-for="@Model.CurrentPassword" class="form-control" />
                
            </div>

            <div class="mb-3">
                <label asp-for="@Model.NewPassword"></label>
                <input asp-for="@Model.NewPassword" class="form-control" />
                
            </div>

            <div class="mb-3">
                <label asp-for="@Model.ConfirmPassword"></label>
                <input asp-for="@Model.ConfirmPassword" class="form-control" />
                
            </div>

            <button type="submit" class="btn btn-primary" style="width:150px;">Potwierdź</button>
            <a asp-page="IndexProfile" class="btn btn-secondary" style="width:150px;">Powrót</a>
        </div>
    </form>
</div>