@page

@using System.Security.Claims

@model IndexProfileModel
@{
}

<link rel="stylesheet" href="~/css/UserProfile.css" asp-append-version="true" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">





<div class="container p-3">

    <!-- Section for Level and Experience -->
    <div class="row pt-4">

        <div class="col-4">
            <div class="bg-light" style="padding: 20px;height: 360px; align-items: center;">
                <div class="image-container" data-toggle="modal" data-target="#aModal">
                    <img width="100%" src="@Url.Content(Model.CurrentUser.ProfileImagePath)" alt="Profile Image" class="task-image" />
                    <i class="fas fa-edit edit-icon" data-toggle="modal" data-target="#aModal"></i>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="bg-light" style="padding: 20px;height: 360px; align-items: center;">
                <h2 class="text-primary">Twoje dane:</h2>
                <div style="margin: 40px;">
                    <h5>Nazwa użytkownika:</h5>
                    <p>@User.Identity.Name</p>
                    <h5>E-mail:</h5>
                    <p>@User.FindFirstValue(ClaimTypes.Email)</p>
                </div>
                <a asp-page="ChangePassword" asp-route-uid="@Model.Uid" class="btn btn-primary mx-2">
                    Chcesz zmienić swoje hasło?
                </a>
            </div>
        </div>

        <div class="col-4">
            <div class="bg-light" style="padding: 20px; height: 180px; align-items: center;">
                <h2 class="text-primary">Twój poziom</h2>
                <h1 class="text-primary">@Model.CurrentUser.Level</h1>
            </div>
            <div class="bg-light" style=" padding: 20px; height: 180px;">
                <h2 class="text-primary">Doświadczenie</h2>
                <h3 class="text-primary">@Model.CurrentUser.Experience / @Model.CurrentUser.ExpToReachNewLvl</h3>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: @(Model.CurrentUser.Experience * 100 / Model.CurrentUser.ExpToReachNewLvl)%;" aria-valuenow="@Model.CurrentUser.Experience" aria-valuemin="0" aria-valuemax="@Model.CurrentUser.ExpToReachNewLvl"></div>
                </div>
            </div>
        </div>

    </div>

    <!--Pop up menu to edit profile picture-->
    @*modal*@
    <div class="modal fade" id="aModal" tabindex="-1" role="dialog" aria-labelledby="aModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="aModalLabel">Zmień swoje zdjęcie profilowe</h4>
                </div>
                <div class="modal-body">
                    <form method="post" enctype="multipart/form-data" asp-page-handler="UploadImage">
                        <div class="form-group">
                            <input asp-for="CurrentUser.Id" hidden />
                            <label asp-for="ImageFile"></label>
                            <input type="file" accept="image/*" asp-for="@Model.ImageFile" class="form-control" />
                            <span asp-validation-for="ImageFile" class="text-danger" hidden></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Upload" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Section for Answers -->
    <div class="row pt-4">
        <div class="col-12">
            <div class="bg-light" style="padding: 20px;">
                <h2 class="text-primary">Twoje odpowiedzi</h2>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Tytuł</th>
                            <th>Treść</th>
                            <th>Poziom trudności</th>
                            <th>Data ukończenia</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var obj in Model.AnswersList)
                        {
                            <tr>
                                <td width="25%">@obj.Task.Title</td>
                                <td width="35%" style="overflow-wrap: break-word; word-break: break-all;">@obj.Task.Content</td>
                                <td width="10%">@obj.Task.difficultyLevel</td>
                                <td width="20%">@obj.SubmissionDate</td>
                                <td width="10%">
                                    <div>
                                        <a asp-page="AnswerView" asp-route-id="@obj.Id" class="btn btn-primary mx-2">
                                            <i class="bi bi-three-dots"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                <!-- Pagination -->
                @if (Model.AnswersList.HasPreviousPage || Model.AnswersList.HasNextPage)
                {
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-center">
                            @if (Model.AnswersList.HasPreviousPage)
                            {
                                <li class="page-item">
                                    <a class="page-link" asp-page="./IndexProfile" asp-route-uid="@Model.Uid" asp-route-pageIndex="@(Model.AnswersList.PageIndex - 1)"><i class="bi bi-arrow-left"></i></a>
                                </li>
                            }

                            @for (var i = Model.AnswersList.PageIndex - 4; i <= Model.AnswersList.PageIndex + 4; i++)
                            {
                                if (i >= 1 && i <= Model.AnswersList.TotalPages)
                                {
                                    <li class="page-item @(i == Model.AnswersList.PageIndex ? "active" : "")">
                                        <a class="page-link" asp-page="./IndexProfile" asp-route-uid="@Model.Uid" asp-route-pageIndex="@i">@i</a>
                                    </li>
                                }
                            }

                            @if (Model.AnswersList.HasNextPage)
                            {
                                <li class="page-item">
                                    <a class="page-link" asp-page="./IndexProfile" asp-route-uid="@Model.Uid" asp-route-pageIndex="@(Model.AnswersList.PageIndex + 1)"><i class="bi bi-arrow-right"></i></a>
                                </li>
                            }
                        </ul>
                    </nav>
                }

            </div>
        </div>
    </div>
</div>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
<script src="~/js/UserProfile.js"></script>

