@page
@model ViewAnswerTypeModel
@{
}

<div class="container p-3">
	<div class="row pt-4">
		<div class="col-6">
			<h2 class="text-primary">Typy odpowiedzi</h2>
		</div>
		<div class="col-6 text-end">
			<a asp-page="CreateAnswerType" class="btn btn-primary">
				<i class="bi bi-plus-square"></i> &nbsp;Stwóz nowy typ
			</a>
		</div>
	</div>

	<br /><br />

	<table class="table table-bordered table-striped" style="width:100%">
		<thead>
			<tr>
				<th>
					Nazwa
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach(var obj in Model.AnswerType)
			{
				<tr>
					<td width="20%">@obj.Name</td>
					<td>
						<div class="w-75 btn-group" role="group">
						<a asp-page="EditAnswerType" asp-route-id="@obj.Id" class="btn btn-primary mx-2">
							<i class="bi bi-pencil-square"></i>
						</a>
							<a asp-page="DeleteAnswerType" asp-route-id="@obj.Id" class="btn btn-danger mx-2">
							<i class="bi bi-trash-fill"></i>
						</a>
						</div>
					</td>
				</tr>
			}
			
		</tbody>
	</table>
	<!-- Pagination -->
	@if (Model.AnswerType.HasPreviousPage || Model.AnswerType.HasNextPage)
	{
		<nav aria-label="Page navigation">
			<ul class="pagination justify-content-center">
				@if (Model.AnswerType.HasPreviousPage)
				{
					<li class="page-item">
						<a class="page-link" asp-page="./ViewAnswerType" asp-route-pageIndex="@(Model.AnswerType.PageIndex - 1)">Poprzednia</a>
					</li>
				}

				@for (var i = Model.AnswerType.PageIndex - 4; i <= Model.AnswerType.PageIndex + 4; i++)
				{
					if (i >= 1 && i <= Model.AnswerType.TotalPages)
					{
						<li class="page-item @(i == Model.AnswerType.PageIndex ? "active" : "")">
							<a class="page-link" asp-page="./ViewAnswerType" asp-route-pageIndex="@i">@i</a>
						</li>
					}
				}

				@if (Model.AnswerType.HasNextPage)
				{
					<li class="page-item">
						<a class="page-link" asp-page="./ViewAnswerType" asp-route-pageIndex="@(Model.AnswerType.PageIndex + 1)">Następna</a>
					</li>
				}
			</ul>
		</nav>
	}
</div>
