@page
@using MathWars.Pages.TaskPages;
@model EditUserModel
@{
}


<div class="container">
<form method="post">
    <input hidden asp-for="user.Id" />

    <div class="border p-3 mt-4">
        <div class="row pb-2">

            <h2 class="text-primary pl-3">Edit User</h2>
            <hr />
        </div>
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            UserName:
            <input asp-for="@Model.user.UserName" class="form-control" />
                <span asp-validation-for="@Model.user.UserName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            Email:
                <input type="email" asp-for="@Model.user.Email" class="form-control" />
                <span asp-validation-for="@Model.user.Email" class="text-danger"></span>
        </div>
        <div class="mb-3">
            Level:
                <input asp-for="@Model.user.Level" class="form-control" />
                <span asp-validation-for="@Model.user.Level" class="text-danger"></span>
        </div>
        <div class="mb-3">
            Experience:
                <input asp-for="@Model.user.Experience" class="form-control" />
                <span asp-validation-for="@Model.user.Experience" class="text-danger"></span>
        <button type="submit" class="btn btn-primary" style="width:150px;">Update</button>
        <a asp-page="ViewUser" class="btn btn-secondary" style="width:150px;">Back to list</a>
    </div>
</form>
</div>