@page
@using MathWars.Pages.TaskPages;
@model ViewUserModel
@{
}



<div class="container p-3">
	<div class="row pt-4">
		<div class="col-6">
			<h2 class="text-primary">Users List</h2>
		</div>
		<div class="col-6 text-end">
			<a asp-page="/Accounts/Users/CreateUser" class="btn btn-primary">
				<i class="bi bi-plus-square"></i> &nbsp;Create New Account
			</a>
		</div>
	</div>

	<br /><br />

	<table class="table table-bordered table-striped" style="width:100%">
		<thead>
			<tr>
				<th>
					Id
				</th>
				<th>
					Name
				</th>
				<th>
					Email
				</th>
				<th>
					Level	
				</th>
				<th>
					Experience
				</th>
				<th>
					Role name
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach(var obj in Model.UserWithRoleList)
			{
				<tr>
					<td width="20%">@obj.user.Id</td>
					<td width="20%">@obj.user.UserName</td>
					<td width="20%">@obj.user.Email</td>
					<td width="10%">@obj.user.Level</td>
					<td width="10%">@obj.user.Experience</td>
					<td width="20%">@obj.RoleName</td>
					<td>
						<div class="w-75 btn-group" role="group">
							<a asp-page="EditUser" asp-route-id="@obj.user.Id" class="btn btn-primary mx-2">
							<i class="bi bi-pencil-square"></i>
						</a>
							<a asp-page="DeleteUser" asp-route-id="@obj.user.Id" class="btn btn-danger mx-2">
							<i class="bi bi-trash-fill"></i>
						</a>
						</div>
					</td>
				</tr>
			}
			
		</tbody>
	</table>

</div>
