@page
@model MathWars.Pages.Accounts.ForgotPasswordRestartModel
@{
}
<div class="container">
    <div class="border p-3 mt-4">
        @if (Model.IsSuccess)
        {
            <p>Udało ci się zmienić swoje hasło</p>
            <p>Możesz teraz przejść do strony logowania i się zalogować</p>
        }
        else
        {
            <form method="post">
                <div class="row pb-2">
                    <h2 class="text-primary pl-3">Zmień hasło</h2>
                    <hr />
                </div>
                <div asp-validation-summary="ModelOnly"></div>
                <input asp-for="@Model.UserId" hidden />
                <input asp-for="@Model.Token" hidden />
                <div class="mb-3">
                    <label asp-for="@Model.NewPassword"></label>
                    <input asp-for="@Model.NewPassword" class="form-control" />

                </div>

                <div class="mb-3">
                    <label asp-for="@Model.ConfirmNewPassword"></label>
                    <input asp-for="@Model.ConfirmNewPassword" class="form-control" />

                </div>

                <button type="submit" class="btn btn-primary" style="width:150px;">Potwierdź</button>
            </form>
        }
    </div>
</div>