@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<link rel="stylesheet" href="~/css/Index.css" asp-append-version="true" />

<div class="index-container">
	<div class="git">
			<div class="heading">
				<h1>MathWars - Matura na 100%</h1>
	</div>

		<div class="main-content">
			<div class="task">
				<table class="task-table" style="height: 90%">
					<tbody>
						@if (Model.TasksToSolve.Count > 0)
						{
							@foreach (var obj in Model.TasksToSolve)
							{
								<tr style="height: 10%">
									<td>
										<div class="task-row">
											<div>
												<span class="filter-table-heading">LVL @obj.DifficultyLevel | @Model.ExpForSolveTask exp</span>
												</div>
											<div>
												<i class="bi bi-star"></i> 1,243 @* Rating not done yet  *@
											</div>
										</div>
										
									</td>
								</tr>
								<tr style="height: 70%">
									<td class="content" style="overflow-wrap: break-word; word-break: break-all; color: black;">@obj.Content</td>
								</tr>
								<tr class="pagination-row" style="height: 20%">
									<td>
										<div class="task-row">
											<div class="pagination-button left mx-4">
												@if (Model.TasksToSolve.HasPreviousPage)
												{
													<a class="btn btn-primary mx-3" asp-page="Index"
														asp-route-pageIndex="@(Model.TasksToSolve.PageIndex - 1)"
														asp-route-difficulty="@Model.TaskToSolveParams.DifficultyLevel"
														asp-route-categoryId="@Model.TaskToSolveParams.CategoryId"
													    asp-route-onlyNotSolved="@Model.TaskToSolveParams.OnlyNotSolved">
															<i class="bi bi-arrow-left"></i>
														</a>
												}
											</div>

											<div class="solve-button" role="group">
												<a asp-page="TaskPages/SolvingTask" asp-route-id="@obj.Id" class="btn btn-primary mx-2">
													<i class="bi bi-pencil-square"></i> Rozwiąż
												</a>
											</div>

											<div class="pagination-button right mx-4">
												@if (Model.TasksToSolve.HasNextPage)
												{
													<a class="btn btn-primary mx-3" asp-page="Index"
														asp-route-pageIndex="@(Model.TasksToSolve.PageIndex + 1)"
														asp-route-difficulty="@Model.TaskToSolveParams.DifficultyLevel"
														asp-route-categoryId="@Model.TaskToSolveParams.CategoryId"
													    asp-route-onlyNotSolved="@Model.TaskToSolveParams.OnlyNotSolved">
															<i class="bi bi-arrow-right"></i>
													</a>
												}
											</div>
										</div>
									</td>
								</tr>
							}
						}
						else
						{
							<tr>
								<td>
									<h4 class="filter-table-heading" style="text-align: center;">Brak zadań :(</h4>
								</td>
							</tr>	
						}
					</tbody>
				</table>
				<p class="motivation mt-2">
					@if (Model.TasksToSolve.Count > 0)
					{
						@if (Model.IsTaskSolvedByUser)
						{
							<span>Już rozwiązałeś to zadanie, ale warto je powtórzyć!</span>
						}
						else
						{
							<span>Nie rozwiązałeś jeszcze tego zadania, spróbuj, dasz radę!</span>
						}
					}
				</p>

			</div>

			<div class="filter">
				<table class="filter-table m-2">
					<form method="post">
						<tr>
							<td>
							<h3 class="filter-table-heading">Kategoria:</h3>
							<select asp-for="@Model.TaskToSolveParams.CategoryId" 
								asp-items="@(new SelectList(Model.Categories, "Id", "CategoryName"))" class="form-control">
							</select>
							</td>
						</tr>
						<tr>
							<td>

							<h3 class="filter-table-heading mt-3">Poziom trudności:</h3>
								<div>
									<div class="range-slider mb-2">
									<input asp-for="@Model.TaskToSolveParams.DifficultyLevel"
												type="range"
												min="0"
												max="6"
												value="@Model.TaskToSolveParams.DifficultyLevel"
												id="range"
												step="1" />
										<div class="sliderticks">
											<span><i class="bi bi-check-square-fill"></i></span>
											<span><i class="bi bi-1-square"></i></span>
											<span><i class="bi bi-2-square"></i></span>
											<span><i class="bi bi-3-square"></i></span>
											<span><i class="bi bi-4-square"></i></span>
											<span><i class="bi bi-5-square"></i></span>
											<span><i class="bi bi-6-square"></i></span>
										</div>
									</div>
								</div>
								<br />
							</td>
						</tr>
						<tr>
							<td style="text-align: center;">
							<input class="form-check-input" type="checkbox" asp-for="TaskToSolveParams.OnlyNotSolved" checked="@(Model.TaskToSolveParams.OnlyNotSolved)" />
							<label asp-for="TaskToSolveParams.OnlyNotSolved">Tylko nie rozwiązane</label>
						</td>
						</tr>
						<tr class="last-tr-filter-table">
							<td style="text-align: center;">
								<button type="submit" class="btn btn-primary mt-3" style="width:150px; text-align: center;">Filtruj</button>
							</td>
						</tr>
					</form>
				</table>
			</div>
		</div>

		<div class="second-content">
			<div class="tutorial">
				<h1> Zrozum więcej!</h1>
				<p>
					Nie wiesz, jak uporać się z danym zagadnieniem? Czy trygonometria wydaje Ci się być czarną magią?
					<a href="https://www.matemaks.pl">Zajrzyj tutaj</a> i rozjaśnij ciemności matematycznych tajemnic!
				</p>
			</div>
			<div class="fun-fact-box">
				<h1>Czy wiesz że ? </h1>
				<div class="fun-fuct" id="mathFact">

				</div>
			
			</div>

		</div>

		<div id="quotes-container" class="quotes-container">
			<p id="quote"></p>
			<p id="author"></p>
		</div>

	</div>
</div>



<script>
	document.addEventListener('DOMContentLoaded', function () {

		var facts = [
			"Liczba PI (π) jest nieskończona i jej cyfry nie wykazują żadnego wzorca?",
			"Zero (0) nie było uznawane za liczbę aż do średniowiecza?",
			"Matematyk i astronom Arabii, Al-Khwarizmi, jest uznawany za ojca algebry?",
			"W geometrii, istnieje tylko siedem płaskich kafelków, które mogą całkowicie pokryć płaszczyznę bez przerw i nakładania się - nazywają się one Parkietażami Penrose'a?",
			"Kwadrat magiczny to kwadratowa tablica liczb, gdzie suma każdego wiersza, kolumny i przekątnej jest taka sama?",
			"Istnieje nieskończenie wiele liczb pierwszych?",
			"Złoty podział, który często występuje w naturze, można znaleźć w dziełach sztuki i architektury?",
			"W 1735 roku matematyk Leonhard Euler rozwiązał problem mostów królewieckich, zakładając podstawy grafów teoretycznych?",
			"Hipoteza Riemanna, jedna z najbardziej znanych i nierozwiązanych zagadek matematyki, dotyczy rozkładu liczb pierwszych?",
			"Matematyka jest jedynym językiem wspólnym dla wszystkich cywilizacji na Ziemi?",
			"Matematyk hinduski Srinivasa Ramanujan opracował ponad 3000 wyników matematycznych, wiele z nich w swoich marzeniach?",
			"Liczba 55555 w systemie pięciokątnym (zapisywana jako 1) to liczba pierwsza?",
			"Paradoks Monty'ego Halla pokazuje, że zmiana początkowej decyzji w pewnej grze może zwiększyć szansę na wygraną?",
			"Istnieje coś takiego jak „samotna liczba”, która nie jest sumą dwóch liczb pierwszych?",
			"Teoria chaosu bada, w jaki sposób niewielkie zmiany w warunkach początkowych mogą prowadzić do diametralnie różnych wyników, co jest znane jako efekt motyla?"
		];

		var factElement = document.getElementById('mathFact');
		var randomFact = facts[Math.floor(Math.random() * facts.length)];
		factElement.textContent = randomFact;
	});
</script>

<script>
	document.addEventListener('DOMContentLoaded', function () {
		var quotes = [
			{ quote: "Matematyka jest królową nauk, a arytmetyka królową matematyki.", author: "Carl Friedrich Gauss" },
			{ quote: "Nie jest ważne, jak wolno idziesz, dopóki nie zatrzymasz się.", author: "Confucius" },
			{ quote: "Matematyka jest językiem, za pomocą którego Bóg napisał wszechświat.", author: "Galileo Galilei" },
			{ quote: "Matematyka jest drzwiami i kluczem do nauk.", author: "Roger Bacon" },
			{ quote: "Nie jest ważne, jak wolno idziesz, dopóki nie zatrzymasz się.", author: "Sofia Kovalevskaya" },
			{ quote: "Matematyka jest królową nauk, a teoria liczb jest królową matematyki.", author: "Carl Friedrich Gauss" },
			{ quote: "'Wszystko jest liczbą.'", author: "Pitagoras" },
			{ quote: "Najlepszym sposobem na przewidywanie przyszłości jest jej tworzenie.", author: "Alan Kay" },
			{ quote: "Matematyka jest sztuką dawania tego samego imienia różnym rzeczom", author: "Henri Poincaré" },
			{ quote: "Matematyka nie kłamie. Ludzie kłamią.", author: "Gary Paulsen" },
			{ quote: "Piękno matematyki polega na tym, że każdy może jej doświadczyć na własnym poziomie.", author: "Shakuntala Devi" },
			{ quote: "Nie ma krótszej drogi do geometrii.", author: "Euclides" },
			{ quote: "Matematyka to sztuka dawania tych samych nazw różnym rzeczom.", author: "J.H. Poincaré" },
			{ quote: "W nauce nie ma drogi krótkiej, z wyjątkiem tej, która jest płaska i nudna.", author: " Bertrand Russell" },
			{ quote: "Matematyka może nie nauczyć nas oddychania, ale nauczy nas logicznego myślenia.", author: "Albert Einstein" },
			{ quote: "Matematyka to muzyka rozumu.", author: "James Joseph Sylvester" },
		];

		function displayRandomQuote() {
			var randomIndex = Math.floor(Math.random() * quotes.length);
			var quote = quotes[randomIndex].quote;
			var author = quotes[randomIndex].author;

			document.getElementById('quote').textContent = quote;
			document.getElementById('author').textContent = author;
		}

		displayRandomQuote();

		setInterval(displayRandomQuote, 8000);
	});

			


</script>

