@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<link rel="stylesheet" href="~/css/Index.css" asp-append-version="true" />


<div class="flex-container">

	<div class="container p-3">
		<div class="row pt-4">
			<div class="col-6">
				<h2 class="text-primary">Task</h2>
			</div>
		</div>

		<br /><br />

		<table class="table table-bordered table-striped" style="width:100%">
			<thead>
				<tr>
					<th>
						Title
					</th>
					<th>
						Content
					</th>
					<th>
						Difficulty Level
					</th>
				</tr>
			</thead>
			<tbody>
				@if (Model.TasksList != null)
				{
					@foreach (var obj in Model.TasksList)
					{
						<tr>
							<td width="40%">@obj.Title</td>
							<td width="40%">@obj.Content</td>
							<td width="20%">@obj.difficultyLevel</td>
							<td>
								<div class="w-75 btn-group" role="group">
									<a asp-page="TaskPages/SolvingTask" asp-route-id="@obj.Id" class="btn btn-primary mx-2">
										<i class="bi bi-pencil-square"></i> Solve
									</a>
								</div>
							</td>
						</tr>
					}
				}
			</tbody>
		</table>

		<!-- Kontrolki nawigacyjne -->
		@if (Model.TotalPages > 1)
		{
			<nav aria-label="Page navigation" class="mt-4">
				<ul class="pagination">
					@if (Model.CurrentPage > 1)
					{
						<li class="page-item">
							<a class="page-link" href="?currentPage=@(Model.CurrentPage - 1)&difficulty=@Model.difficultyLevel">Poprzedni</a>

						</li>
					}

					@for (int i = 1; i <= Model.TotalPages; i++)
					{
						<li class="page-item @(i == Model.CurrentPage ? "active" : "")">
							<a class="page-link" href="?currentPage=@i">@i</a>
						</li>
					}

					@if (Model.CurrentPage < Model.TotalPages)
					{
						<li class="page-item">
							<a class="page-link" href="?currentPage=@(Model.CurrentPage + 1)&difficulty=@Model.difficultyLevel">Następny</a>

						</li>
					}
				</ul>
			</nav>
		}
	</div>



	<div class="container">
		<br />
		<div class="row pt-4">
			<div class="col-6">
				<h2 class="text-primary">Filtruj Zadania</h2>
			</div>
		</div>

		<br /><br />

		<form method="post">
			<div class="border p-3 mt-4">
				<div class="mb-3">
					Category:
					<select asp-for="@Model.Category.Id" asp-items="@(new SelectList(Model.Categories, "Id", "CategoryName"))" class="form-control">
					</select>
					<span asp-validation-for="@Model.Category.Id" class="text-danger"></span>
				</div>
				<div class="mb-3">
					Difficulty level:
					<br />
					<input type="number" class="form-control" name="difficultyLevel" value="@Model.difficultyLevel" />
				</div>
				<!-- Ukryte pole dla currentPage, aby zachować stan paginacji -->
				<input type="hidden" name="currentPage" value="@Model.CurrentPage" />
				<button type="submit" class="btn btn-primary" style="width:150px;">Filtr</button>
			</div>
		</form>

	</div>

</div>

