@page
@model ViewTasksCategoryModel
@{
}

<div class="container p-3">
	<div class="row pt-4">
		<div class="col-6">
			<h2 class="text-primary">Lista kategorii zadań</h2>
		</div>
		<div class="col-6 text-end">
			<a data-toggle="modal" data-target="#CreateTaskCategory" class="btn btn-primary">
				<i class="bi bi-plus-square"></i> &nbsp;Stwórz nową kategorie
			</a>
		</div>
	</div>

	<!--Pop up menu to create new category-->
	@*modal*@
	<div class="modal fade" id="CreateTaskCategory" tabindex="-1" role="dialog" aria-labelledby="aModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content" style="color: black;">
				<div class="modal-header">
					<h4 class="modal-title" id="aModalLabel">Stwórz kategorie zadań</h4>
				</div>
				<form method="post" asp-page-handler="CreateCategory">
					<div class="modal-body">
						<div class="border p-3 mt-4">
							<div class="mb-3">
								Nazwa:
								<input asp-for="@Model.Category.CategoryName" class="form-control" />
								<span asp-validation-for="@Model.Category.CategoryName" class="text-danger"></span>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary" style="width:150px;">Stwórz</button>
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					</div>
				</form>
			</div>
		</div>
	</div>


	<br /><br />

	<table class="table table-bordered table-striped" style="width:100%">
		<thead>
			<tr>
				<th>
					Nazwa
				</th>
				<th>
					Data utworzenia
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var obj in Model.Categories)
			{
			<tr>
				<td width="20%">@obj.CategoryName</td>
				<td width="20%">@obj.Created</td>
				<td>
					<div class="w-75 btn-group" role="group">
						<button data-toggle="modal" data-target="#EditCategory_@obj.Id" class="btn btn-primary mx-2">
							<i class="bi bi-pencil-square"></i>
						</button>
						<button data-toggle="modal" data-target="#DeleteTaskCategory" class="btn btn-danger mx-2">
							<i class="bi bi-trash-fill"></i>
						</button>
					</div>

					<!--Pop up menu to delete category-->
					<div class="modal fade" id="DeleteTaskCategory" tabindex="-1" role="dialog" aria-labelledby="aModalLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h4 class="modal-title" id="aModalLabel">Czy jesteś pewien że chcesz usunąć tą kategorię</h4>
								</div>
								<div class="modal-body">
									<form method="post" asp-page-handler="DeleteTaskCategory" asp-route-id="@obj.Id">
										<button type="submit" class="btn btn-danger">Usuń</button>
										<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
									</form>

								</div>
								<div class="modal-footer">
								</div>
							</div>
						</div>
					</div>

					<!-- Pop up menu to edit Category -->
					<div class="modal fade" id="EditCategory_@obj.Id" tabindex="-1" role="dialog" aria-labelledby="aModalLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h4 class="modal-title" id="aModalLabel">Edycja kategorii</h4>
								</div>
								<form method="post" asp-page-handler="EditCategory" asp-route-id="@obj.Id">
									<div class="modal-body">
										<label>Nazwa: </label>
										<input class="form-control" name="newName" value="@obj.CategoryName" />
									</div>
									<div class="modal-footer">
										<button type="submit" class="btn btn-primary">Edytuj</button>
										<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</td>
			</tr>
			}
		</tbody>
	</table>

	
    
	<!-- Pagination -->
	@if (Model.Categories.HasPreviousPage || Model.Categories.HasNextPage)
	{
		<nav aria-label="Page navigation">
			<ul class="pagination justify-content-center">
				@if (Model.Categories.HasPreviousPage)
				{
					<li class="page-item">
						<a class="page-link" asp-page="./ViewTasksCategory" asp-route-pageIndex="@(Model.Categories.PageIndex - 1)"><i class="bi bi-arrow-left"></i></a>
					</li>
				}

				@for (var i = Model.Categories.PageIndex - 4; i <= Model.Categories.PageIndex + 4; i++)
				{
					if (i >= 1 && i <= Model.Categories.TotalPages)
					{
						<li class="page-item @(i == Model.Categories.PageIndex ? "active" : "")">
							<a class="page-link" asp-page="./ViewTasksCategory" asp-route-pageIndex="@i">@i</a>
						</li>
					}
				}

				@if (Model.Categories.HasNextPage)
				{
					<li class="page-item">
						<a class="page-link" asp-page="./ViewTasksCategory" asp-route-pageIndex="@(Model.Categories.PageIndex + 1)"><i class="bi bi-arrow-right"></i></a>
					</li>
				}
			</ul>
		</nav>
	}
</div>