@page
@model ViewTasksCategoryModel
@{
}

<div class="container p-3">
	<div class="row pt-4">
		<div class="col-6">
			<h2 class="text-primary">Lista kategorii zadań</h2>
		</div>
		<div class="col-6 text-end">
			<a asp-page="CreateTaskCategory" class="btn btn-primary">
				<i class="bi bi-plus-square"></i> &nbsp;Stwórz nową kategorie
			</a>
		</div>
	</div>

	<br /><br />

	<table class="table table-bordered table-striped" style="width:100%">
		<thead>
			<tr>
				<th>
					Nazwa
				</th>
				<th>
					Data utworzenia
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach(var obj in Model.Categories)
			{
				<tr>
					<td width="20%">@obj.CategoryName</td>
					<td width="20%">@obj.Created</td>
					<td>
						<div class="w-75 btn-group" role="group">
						<a asp-page="EditTaskCategory" asp-route-id="@obj.Id" class="btn btn-primary mx-2">
							<i class="bi bi-pencil-square"></i>
						</a>
							<a asp-page="DeleteTaskCategory" asp-route-id="@obj.Id" class="btn btn-danger mx-2">
							<i class="bi bi-trash-fill"></i>
						</a>
						</div>
					</td>
				</tr>
			}
			
		</tbody>
	</table>
	<!-- Pagination -->
	@if (Model.Categories.HasPreviousPage || Model.Categories.HasNextPage)
	{
		<nav aria-label="Page navigation">
			<ul class="pagination justify-content-center">
				@if (Model.Categories.HasPreviousPage)
				{
					<li class="page-item">
						<a class="page-link" asp-page="./ViewTasksCategory" asp-route-pageIndex="@(Model.Categories.PageIndex - 1)"><i class="bi bi-arrow-left"></i></a>
					</li>
				}

				@for (var i = Model.Categories.PageIndex - 4; i <= Model.Categories.PageIndex + 4; i++)
				{
					if (i >= 1 && i <= Model.Categories.TotalPages)
					{
						<li class="page-item @(i == Model.Categories.PageIndex ? "active" : "")">
							<a class="page-link" asp-page="./ViewTasksCategory" asp-route-pageIndex="@i">@i</a>
						</li>
					}
				}

				@if (Model.Categories.HasNextPage)
				{
					<li class="page-item">
						<a class="page-link" asp-page="./ViewTasksCategory" asp-route-pageIndex="@(Model.Categories.PageIndex + 1)"><i class="bi bi-arrow-right"></i></a>
					</li>
				}
			</ul>
		</nav>
	}
</div>
